body.about .footer {
  margin-top: 30px;
}

.textarea_edit  { outline:none;width:222px;max-width:222px !important;min-width:222px !important;height:500px;border:1px solid #47b586; padding:5px; font-size:10px;color:#47b586;background:none }

div#menutop {
  background-color: #FBE61B;
  padding: 10px;
  position: relative;
  z-index: 99;
  float: left;
  margin-right: 0px;
  color: #313131;
  width: 100%;
}

div#menutop a {
  color: #313131;
  border: 0px;
  padding: 12px 10px;
  text-transform: initial !important;
}

div#menutop a:hover {
  background-color: #000;
  color: #fff;
}

div#menutop div.mo {
  float: left;
}

div#menutop div.wrap div {
  font-size: 18px;
  padding: 0px 10px;
  padding-top: 0px;
  text-transform: uppercase;
}

div#menutop div.wrap div:first-child {
  padding: 0px 10px 0px 0px;
}

div#menutop div.wrap div:last-child {
  padding: 0px 0px 0px 10px;
}

div.group_buttons {
  margin-right: 0px;
}

div.logo img {
  width: 100px;
}

div.text.manifest {
  padding: 0px 0px;
  font-size: 18px;
}

div#login {
  padding: 10px 30px 20px 30px;
  margin-top: 0px;
}

.explore {
/*  width: calc(100% - 170px);
*/
}

.footer {
  font-size: 12px;
  color: #444;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  bottom: 0px;
  width: 100%;
}

.footer a {
  font-size: 12px;
  color: #444;
  text-decoration: underline !important;
}

header {
  height: 100px;
}

.h100 {
  height: auto;
}

.hor-menu-search-bar {
  width: 100%;
}

.mini, .mini div {
  border: 0px;
  padding: 5px;
  font-size: 14px;
}

.navbar .navbar-toggle {
  top: 10px;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle {
  border: 0;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  padding: 10px 0;
  cursor: pointer;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #acacac;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.pull-right.hor-menu-search-bar {
  margin-top: 40px;
}

.right {
  float: right;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.section-hdr {
  padding-top: 30px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

#wrap-login {
  background-color: #dadada;
}

.wrapper {
  margin-top: initial;
  margin-bottom: initial;
}

#header-content .filter-bar .hor-menu-item:not(:first-child) {
  margin-left: 0px;
}

#header-content .filter-bar .border-bottom {
  border-bottom-style: none;
}

#header-content .filter-bar .form-control {
  width: 100%;
}

#header .main-head {
  height: 250px;
}

#header .main-head .info-panel {
  margin-top: 40px;
  font-size: 25px;
  line-height: 34px;
}

#header-content .main-head {
  height: 70px;
}

#header-content .main-head .hdr-breadcrumb {
  display: none;
}

/* Prevent drag and text selection */
canvas {
  width: 100vw; /* Make canvas width 100% of viewport width */
  height: 100vh; /* Make canvas height 100% of viewport height */
  -webkit-user-drag: none; /* Prevent drag on Safari and Chrome */
  user-drag: none; /* Prevent drag on Firefox */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Prevent text selection in Safari */
  -moz-user-select: none; /* Prevent text selection in Firefox */
  -ms-user-select: none; /* Prevent text selection in IE */
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

